
<div class="columns is-mobile is-centered has-text-warning">
	<div class="column is-half">
		<div class="columns is-mobile">
			<div class="column"><A HREF="{% url 'arcade' %}" >arcade</a></div>
			<div class="column"><A HREF="{% url 'pit' %}" >pit</a></div>
			<div class="column"><A HREF="{% url 'mainhall' %}" >mainhall</a></div>
			<div class="column"><A HREF="{% url 'cashier' %}" >cashier</a></div>
			<div class="column"><A HREF="{% url 'manager' %}" >manager</a></div>
			<div class="column"><A HREF="{% url 'exit' %}" >exit</a> </div>
		</div>
	</div>
</div>
