{% extends "base.html" %}


<style>

.room {background: #000000; border-style:none; border-width:0px;} 
.green-bid1 {font-family:Arial, Helvetica, sans-serif; font-size:12px; background:gray; width:45px; height: 45px; color:pink}
.green-bid {font-family:Arial, Helvetica, sans-serif; font-size:12px; background:#005500; width:45px; height: 45px; color:pink}
.black-bid1 {font-family:Arial, Helvetica, sans-serif; font-size:14px; background:gray; width:45px; height: 45px;color:pink}
.black-bid {font-family:Arial, Helvetica, sans-serif; font-size:14px; background:black; width:45px; height: 45px;color:pink}
.Black {font-family:Arial, Helvetica, sans-serif; font-size:14px; background:black; width:45px; height: 45px;color:pink}
.red-bid1 {font-family:Arial, Helvetica, sans-serif; font-size:14px; background:white;  width:45px; height: 45px;  color:pink}
.red-bid {font-family:Arial, Helvetica, sans-serif; font-size:14px; background:#CC0000;  width:45px; height: 45px;  color:pink}
.Red {font-family:Arial, Helvetica, sans-serif; font-size:14px; background:#CC0000;  width:45px; height: 45px;  color:pink}
</style>
    <script defer src="/static/js/jquery-1.6.2.min.js"></script>
{% block header %}
{% endblock %}


<script>

/*

	function make_pile(target, chips) {
		chips.each(function(index) {
			$(this).position({
				of: target,
				my: "center center",
				at: "center center",
				offset: ""+ Math.floor( Math.random() * 15 ) +" "+(17+Math.floor( Math.random() * 15 ))
			});
		});
	}

function step(ind, stop, worker, delay) {
	if (ind <= stop) {
		setTimeout(function(){
			worker(ind, stop);
			step(ind + 1, stop, worker, delay);
		}, delay);	
	}
}


  
 
	function get_bids_list() {
		var bids =[];
		$('.bid').each(function(index, element) {
			var bid = $(element);
	   		var offset = bid.offset();
			bids.push({
				bid: bid.attr('id'),
				top: offset.top,
				left: offset.left,
				bottom: offset.top+bid.height(),
				right: offset.left+bid.width()
			});
	 	});
	 	return bids;
	}
	
	
	function chips_on_bids() {
		var chips =[];
		$('.chip').each(function(index, element) {
			var chip = $(element);
			var chip_to_save = {
				value: parseInt(chip.attr("value")),
				top: parseInt(chip.css('top')),
				left: parseInt(chip.css('left')),
				bids:[]
			};
			$.each(bids, function(index, bid) {
				if  (chip.css('left') !='auto' && intersects(chip, bid)) {
					chip_to_save.bids.push(bid.bid);
				}
			});
    		chips.push(chip_to_save);
		});
		return chips;
	}
	
  


function intersects(a, b) {
  var a_left = parseInt(a.css('left')); 
  var a_top =  parseInt(a.css('top'));
  var a_bottom = a.height() + a_top;
  var a_right = a.width() + a_left;
   return ! ( b.left > a_right
        || b.right < a_left
        || b.top > a_bottom
        || b.bottom < a_top
        );
  }
  
 function collect() {
	$('.LOST').animate({
	'visibility':'none',
    opacity: .01,
    left: '10px',
	top: '10px'
  }, 2000);
 $('.LOST').removeClass('chip');
 }
 
 
function pay() {
	$.each(payout, function(index, pay) {
		var chip = $("#"+pay.id);
		chip.animate({
			opacity: .9,
			left: pay.left + 'px',
			top: pay.top + 'px'
		  }, 2000);
	});
}

function spin() {	
	$('#call_colour').html("Rien Va");
	$('#call_ball').html("Plus");
	step(10,20, function(num, stop) {
	$('#spin').attr('src', '/static/images//hwheel'+num+'.gif');
		if (num == stop) {
			$('#spin').attr('src', '/static/images/hwheel{{ ball|stringformat:"02d" }}.gif');
			$('#call_colour').html("{{colour_call}}");
			$('#call_ball').html("{{ball_call}}");
			collect();
			pay();
		}
	}, 300);
}


	var payout = {{payout_js|safe}};
	var bids = get_bids_list();
	$('td').addClass("ui-widget-content");
	$('.chip').draggable();
	$('#spin').click(function() {
	 	var chips = chips_on_bids();
		$('input[name=chips]').val(JSON.stringify(chips));
		//alert(JSON.stringify(chips));
	});
	make_pile($("#1000s"), $(".start.value1000"));
	make_pile($("#500s"), $(".start.value500"));
	make_pile($("#100s"), $(".start.value100"));
	make_pile($("#50s"), $(".start.value50"));
	make_pile($("#20s"), $(".start.value20"));
	make_pile($("#10s"), $(".start.value10"));
	
	spin();

	*/

</script>

{% block banner_add %}

{% endblock %}

{% block content %}


<form action="." method="post">{% csrf_token %}
<input type="hidden" name="chips" />
<div class="columns is-mobile is-centered has-text-warning">
  <div class="column is-full">

<table  border="0"  class="room" cellpadding="0"  cellspacing="3">
	<tr class="room" >
    	<td class="room" width="120">
        	<h2 align="center"  ><span id="call_colour">Place your</span> <br><span id="call_ball">Bets</span></h2>{{message}}</font>
        	{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
    	</td>
        <td class="room"  height=160 colspan=1><img align='left' width="740" src="/static/images/attable00.gif" BORDER=0></td>
	</tr>

	
	<tr class="room" >
    	<td class="has-text-white" ><input type="image" border=0 id="spin" name="spin" width="80" height="150"  alt="wheel" src="/static/images/hwheel{{ ball|stringformat:"02d" }}.gif"> <br/><br/><br/>
Click wheel to spin.
	
	</td>
    	<td class="room" >
    	<table border="0" class="has-background-black">
    		<tr><td>
    			<table class="table is-bordered has-background-success" cellgap="1" cellspacing="1" border="0" bgcolor="#440000" cellspacing="3" >
        			<tr align="center" >
 			           <td  class="has-background-success	 bid"  class="green-bid" height=40 width=40>&nbsp;</td>
			            <td class="has-background-success	 bid" id="1to3"   >1 - 3</td>
			            <td class="has-background-success	 bid" id="4to6"   >4 - 6</td>
			            <td class="has-background-success	 bid" id="7to9"   >7 - 9</td>
			            <td class="has-background-success	 bid" id="10to12" >10 - 12</td>
			            <td class="has-background-success	 bid" id="13to15" >13 - 15</td>
			            <td class="has-background-success	 bid" id="16to18" >16 - 18</td>
			            <td class="has-background-success	 bid" id="19to21" >19 - 21</td>
			            <td class="has-background-success	 bid" id="22to24" >22 - 24</td>
			            <td class="has-background-success	 bid" id="25to27" >25 - 27</td>
			            <td class="has-background-success	 bid" id="28to30" >28 - 30</td>
			            <td class="has-background-success	 bid" id="31to33" >31 - 33</td>
			            <td class="has-background-success	 bid" id="34to36" >34 - 36</td>
			            <td class="has-background-success	 bid" >&nbsp;</td>
				      </tr>
				      <tr align="center" >
 				           <td  rowspan= 3 class="has-background-success bid"  >0</td>
				            <td id="3" class='has-background-danger bid' >3</td>
				            <td id="6"  class='has-background-black	has-text-white bid'  >6</td>
				            <td id="9"  class='has-background-danger bid'  >9</td>
				            <td id="12" class='has-background-black	has-text-white bid'  >12</td>
				            <td id="15" class='has-background-danger bid'  >15</td>
				            <td id="18" class='has-background-black	has-text-white bid'  >18</td>
				            <td id="21" class='has-background-danger bid'  >21</td>
				            <td id="24" class='has-background-black	has-text-white bid'  >24</td>
				            <td id="27" class='has-background-danger bid'  >27</td>
				            <td id="30" class='has-background-black	has-text-white bid'  >30</td>
				            <td id="33" class='has-background-danger bid'   >33</td>
				            <td id="36" class='has-background-black	has-text-white bid'  >36</td>
				            <td id="3to36" class="has-background-success bid"  >3 to 36</td>
				        </tr>
				        <tr align="center" >
				            <td id="2" class='has-background-black	has-text-white 1to18 even 1to3 2to35 1doz bid'   >2</td>
				            <td id="5" class='has-background-danger 1to18 odd 4to6 2to35 1doz bid'  >5</td>
				            <td id="8" class='has-background-black	has-text-white 1to18 even 7to9 2to35 1doz bid'   >8</td>
				            <td id="11" class='has-background-danger bid'   >11</td>
				            <td id="14" class='has-background-black	has-text-white bid'   >14</td>
				            <td id="17" class='has-background-danger bid'   >17</td>
				            <td id="20" class='has-background-black	has-text-white bid'   >20</td>
				            <td id="23" class='has-background-danger bid'   >23</td>
				            <td id="26" class='has-background-black	has-text-white bid'   >26</td>
				            <td id="29" class='has-background-danger bid'   >29</td>
				            <td id="32" class='has-background-black	has-text-white bid'   >32</td>
				            <td id="35" class='has-background-danger bid'   >35</td>
				            <td id="2to35" class="has-background-success bid"  >2 to 35</td>
				        </tr>
 				       <tr align="center" >
				            <td id="1" class='has-background-danger 1to18 odd 1to3 1to34 1doz bid'   >1</td>
				            <td id="4" class='has-background-black	has-text-white bid'   >4</td>
				            <td id="7" class='has-background-danger bid'   >7</td>
				            <td id="10" class='has-background-black	has-text-white bid'   >10</td>
				            <td id="13" class='has-background-danger bid'   >13</td>
				            <td id="16" class='has-background-black	has-text-white bid'   >16</td>
				            <td id="19" class='has-background-danger bid'   >19</td>
				            <td id="22" class='has-background-black	has-text-white bid'   >22</td>
				            <td id="25" class='has-background-danger bid'   >25</td>
				            <td id="28" class='has-background-black	has-text-white bid'   >28</td>
				            <td id="31" class='has-background-danger bid'   >31</td>
				            <td id="34" class='has-background-black	has-text-white bid'   >34</td>
				            <td id="1to34" class="has-background-success	 bid"  >1 to 34</td>
				        </tr>
 				       <tr align="center" height=25> 
				            <td  class="green-bid"  >&nbsp;</td>
				            <td id="1doz" colspan=4 class="has-background-success	 bid" > 1st Dozen</td>
				            <td id="2doz" colspan=4 class="has-background-success	 bid" > 2nd Dozen</td>
				            <td id="3doz" colspan=4 class="has-background-success	 bid" > 3rd Dozen</td>
				            <td class="has-background-success	"  >&nbsp;</td>
				            </tr>
				        <tr align="center" > 
				            <td class="green-bid" >&nbsp;</td>
				            <td id="1to18" class="has-background-success bid"  colspan=2> 1 to 18</td>
				            <td id="even" colspan=2 class="has-background-success bid" >Even</td>
				            <td id="Red"  class="has-background-danger bid"  colspan=2 ><span>Red</td>
				            <td id="Black"  class="has-background-black	has-text-white bid"  colspan=2 >Black</td>
				            <td id="odd"colspan=2 class="has-background-success bid" > Odd</td>
				            <td id="19to36" colspan=2  class="has-background-success bid" 5> 19 to 36</td>
				            <td class="has-background-success	" >&nbsp;</td>
				        </tr>
				    </table>
			    </td></tr>
			</table>
	 </td></tr>

</table>
  </div>
</div>
	
<div class="columns is-mobile is-centered has-text-warning">
  <div class="column is-half">
	  <p>Your bankroll<br/>{{user.account.bankroll}}</p>
	  <div class="container">
{% for chip in payout %}

<img id="{{chip.id}}" draggable="true" class="chip bankroll {{chip.state}}" value="{{chip.value}}" style="position:absolute; left:10px; top:10px; opacity: .01;" src="/static/images/chip-{{chip.value}}.png">
{% endfor %}



{% for chip in chips %}
{%if chip.state == "start" %}
	<img id="{{chip.id}}" draggable="true" class="chip bankroll {{chip.state}} value{{chip.value}}" value="{{chip.value}}" style=" left:10px+{{forloop.counter0}}; z-index:10;"  src="/static/images/chip-{{chip.value}}.png">
{% else %}
	<img id="{{chip.id}}" draggable="true" class="chip bankroll {{chip.state}}" value="{{chip.value}}" style="left:{{chip.left}}px; top:{{chip.top}}px; z-index:10;"  src="/static/images/chip-{{chip.value}}.png">
{% endif %}
{% endfor %}
</div>
  </div> </div>
<div >
<span style="position:relative; left:55px; width:55px" id="1000s"></span><span style="position:relative; left:125px; width:55px" id="500s"></span><span style="position:relative; left:177px; width:55px" id="100s"></span><span style="position:relative; left:235px; width:55px" id="50s"></span><span style="position:relative; left:285px; width:55px" id="20s"></span><span style="position:relative; left:335px; width:55px" id="10s"></span>
</div>

	<script>
var dragged;
document.addEventListener("dragstart", function(event) {
	// store a ref. on the dragged elem
	dragged = event.target;
	// make it half transparent
	event.target.style.opacity = .5;
}, false);

document.addEventListener("dragend", function(event) {
  // reset the transparency
  event.target.style.opacity = "";
}, false);

document.addEventListener("dragover", function(event) {
  // prevent default to allow drop
  event.preventDefault();
}, false);

document.addEventListener("dragenter", function(event) {
  // highlight potential drop target when the draggable element enters it
  if (event.target.classList.contains("bid")) {
    event.target.style.background = "purple";
  }

}, false);


document.addEventListener("drop", function(event) {
  // prevent default action (open as link for some elements)
  event.preventDefault();
  // move dragged elem to the selected drop target
  if (event.target.classList.contains("bid")) {
    event.target.style.background = "";
    dragged.parentNode.removeChild( dragged );
    event.target.appendChild( dragged );

  }
}, false);


document.getElementById('spin').addEventListener("click", function(event) {
  // prevent default action (open as link for some elements)
  event.preventDefault();
	var chips = chips_on_bids();
}, false);


</script>

{% endblock %}



{% block navigation %}

{% endblock %}
